<header>
    <div class="navbar">
        <div class="container">
            <a href="#" class="site-logo" aria-label="Accueil">
                <img src="" alt="Logo du site">
            </a>
            <nav>
                <ul>
                    <li><a href='#'>Accueil</a></li>
                    <li><a href='Presentation.html'>Présentation</a></li>
                    <li><a href='Competences.html'>Compétences</a></li>
                    <li><a href='Projects.html'>Projets</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
